/* Genel stil ayarları */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ana container */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  border-radius: 10px;
  color: #fff;
  margin: 80px 80px 80px 80px;
}

/* İçerik alanı */
.content {
  flex: 1;
  max-width: 50%;
}

.content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.content h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Görsel */
.image img {
  width: 100%;
  border-radius: 10px;
}

/* Butonlar */
.btnDiv {
  display: flex;
}

.icon {
  vertical-align: middle;
  margin-left: 15px;
}

.btn {
  margin-right: 20px;
  padding: 8px 20px;
  width: 265px;
  height: 60px;
  font-size: 15px;
  color: #fff;
  background-color: #09436e;
  border: none;
  border-radius: 5px;
  font-weight: 800;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.btn::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, #00fffc, transparent);
  transform: translateX(-100%);
  transition: 1s;
  position: absolute;
}

.btn:hover {
  background: transparent;
  box-shadow: 0 0 20px 5px #00fffc;
}

.btn:hover::before {
  transform: translateX(100%);
}

/* Slider */
.slider {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 450px;
  align-items: center;
  margin-left: 40px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.slider-content {
  display: flex;
  transition: transform 0.5s ease;
}

.slider-item {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
}

.slider-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.slider-item p {
  margin-top: 10px;
}

/* Dil seçimi container */
.language-container {
  text-align: center;
  background: linear-gradient(135deg, #09436e, #050328); 
  border-radius: 10px; 
  padding: 20px;
  margin-top: 140px ;
  margin-left: 120px;
  width: fit-content;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  color: white; 
}

.language-container h3 {
  font-family: 'Verdana', sans-serif; 
  font-size: 24px;
  margin-bottom: 20px;
}

.language-container button {
  background-color: transparent; 
  color: white; 
  border: 2px solid white; 
  border-radius: 25px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-family: 'Verdana', sans-serif; 
  font-size: 16px;
  transition: all 0.3s ease; 
}

.language-container button:hover {
  background-color: rgba(255, 255, 255, 0.2); 
  transform: scale(1.05); 
}

.language-container button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); 
}
